<div class="post">
  <div class="post__header mb-2">
    <span class="badge">business</span>
    <span class="txt-sm txt-secondary mr-2">50m ago</span>
  </div>
  <img class="post__cover" src="assets/img/concept-of-product-release-and-launch-for-public-1580174-0.svg" alt="">
  <h3 class="post__title">How to run a More Effective Meeting</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum eius,
    ullam incidunt quidem distinctio animi optio ipsa omnis vel iure eligendi
    debitis eos deleniti, eum voluptas cum. Nulla, architecto et.
  </p>
  <br/>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum eius,
    ullam incidunt quidem distinctio animi optio ipsa omnis vel iure eligendi
    debitis eos deleniti, eum voluptas cum. Nulla, architecto et.
  </p>
  <br/>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum eius,
    ullam incidunt quidem distinctio animi optio ipsa omnis vel iure eligendi
    debitis eos deleniti, eum voluptas cum. Nulla, architecto et.
  </p>
</div>

