.site-header {
  padding: .5em 0em;
  margin-bottom: 1.5em;
  box-shadow: inset 0px -1px 0px #f3f3f4;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu-btn svg {
  height: 28px;
  cursor: pointer;
  color: rgb(56, 56, 56);
}
.nav {
  display: flex;
}
.nav-item {
  margin-right: .5em;
}
.nav-item > a {
  outline: none;
  padding: .6em .8em;
  border-radius: 5px;
  font-size: .9em;
  font-weight: 500;
  display: inline-block;
}
.nav-item-default > a {
  border: 2px solid #242424;
}
.nav-item-accent > a {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--font-white);
}
.nav-item-secondary > a {
  border: 2px solid #ddd;
  color: var(--color-concrete);
}
