<section class="container">
  <main class="auth-section">
    <div class="auth-cover"></div>
    <div class="auth-form-section">
      <div class="error-section" *ngIf="error">
        <div class="container">
          <h2>{{ errorMessage }}</h2>
          <!-- <h2>We couldn't find an account matching the username you entered.</h2> -->
        </div>
      </div>
      <div class="form-container">
        <div class="auth-header">
          <h1>Sign in to our Site</h1>
        </div>
        <div class="auth-form">
          <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-input"
                id="username"
                name="username"
                [(ngModel)]="username"
                #usernameField="ngModel"
                [ngClass]="{ 'error-field': usernameField.invalid && usernameField.touched }"
                required />
              <p class="error" *ngIf="usernameField.invalid && usernameField.touched">username is required</p>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-input"
                id="password"
                name="password"
                [(ngModel)]="password"
                #passwordField="ngModel"
                [ngClass]="{ 'error-field': passwordField.invalid && passwordField.touched }"
                required />
              <p class="error" *ngIf="passwordField.invalid && passwordField.touched">password is required</p>
            </div>
            <button class="btn-login" type="submit" [disabled]="form.invalid">Sign in</button>
            <div class="mt-1">
              <a routerLink="/">Go back Home</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</section>
