.category-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 1.6em;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.category-list::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  -webkit-appearance: none;
  display: none;
}
.category {
  background: #f5f5f5;
  border-radius: 12px;
  margin-right: .6em;
  padding: .8em .8em;
  font-size: .8em;
  font-weight: 500;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}
.category:not(.active):hover {
  background-color: #e0e0e0;
}
.active {
  background-color: #232323;
  color: white;
}
