<div class="panel-options">
  <div class="option active">Published</div>
  <div class="option">Draft</div>
  <div class="option add-new">
    <a href="new-post.html">+</a>
  </div>
</div>

<div class="posts">
  <div class="post-card-inline">
    <div class="post-card-inline__cover-section">
      <img src="assets/img/blogs-9-pasos-faciles.png" />
    </div>
    <div class="post-card-inline__main">
      <div class="post-card-inline__top">
        <span class="badge bg-yellow">design</span>
        <a class="txt-sm txt-secondary mr-2" style="margin-left: auto;" href="view.html">view</a>
        <a class="txt-sm txt-secondary mr-2" href="#">publish</a>
      </div>
      <h2 class="mt-1 mb-1">Top 10 techniques to get rid of clutters in design system</h2>
      <span class="txt-sm txt-secondary mr-2">50m ago</span>
      <span class="txt-sm txt-secondary mr-1">Recruiter</span>
    </div>
  </div>
  <div class="post-card-inline">
    <div class="post-card-inline__cover-section">
      <img src="assets/img/blogs-9-pasos-faciles.png" />
    </div>
    <div class="post-card-inline__main">
      <div class="post-card-inline__top">
        <span class="badge bg-yellow">design</span>
        <a class="txt-sm txt-secondary mr-2" style="margin-left: auto;" href="view.html">view</a>
        <a class="txt-sm txt-secondary mr-2" href="#">publish</a>
      </div>
      <h2 class="mt-1 mb-1">Top 10 techniques to get rid of clutters in design system</h2>
      <span class="txt-sm txt-secondary mr-2">50m ago</span>
      <span class="txt-sm txt-secondary mr-1">Recruiter</span>
    </div>
  </div>
</div>
