.panel-options {
  display: flex;
  width: 100%;
  margin-bottom: 1.6em;
}
.option {
  background: #f5f5f5;
  border-radius: 12px;
  padding: .8em .8em;
  font-size: .8em;
  font-weight: 500;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}
.option:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.option:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.option.active {
  background-color: #232323;
  color: white;
}
.option.add-new {
  margin-left: auto;
  width: auto;
  background-color: var(--color-primary);
  color: white;
  min-width: 40px;
}

/* latests-post-section */
.posts {
  margin: 3em 0em;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
}
.post-card-inline {
  display: flex;
}
.post-card-inline__cover-section {
  width: 70px;
  margin-right: 1em;
}
.post-card-inline__cover-section img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}
.post-card-inline__main {
  flex: 1;
}
.post-card-inline__main h2 {
  font-size: .9em;
}

.post-card-inline__top {
  display: flex;
}
.post-card-inline__top a {
  color: var(--color-primary);
  font-weight: 500;
}


@media only screen and (min-width: 650px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media only screen and (min-width: 1025px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
