<main class="new-post-section">
  <div class="error-section" *ngIf="error">
    {{ errorMessage }}
  </div>
  <div class="new-post-header">
    <h1>Add a new Post</h1>
  </div>

  <div class="new-post-form">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          placeholder="Write your title here"
          class="form-input"
          id="title"
          name="title"
          [(ngModel)]="title"
          #titleField="ngModel"
          [ngClass]="{ 'error-field': titleField.invalid && titleField.touched }"
          required
        />
        <p class="error" *ngIf="titleField.invalid && titleField.touched">the title is required</p>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select
          class="form-input"
          id="category"
          name="category"
          [(ngModel)]="category"
          #categoryField="ngModel"
          [ngClass]="{ 'error-field': categoryField.invalid && categoryField.touched }"
          required
        >
          <option disabled="disabled" selected="selected" value="0">Select a category</option>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.category }}</option>
        </select>
        <p class="error" *ngIf="categoryField.invalid && categoryField.touched">the category is required</p>
      </div>
      <div class="form-group">
        <label for="slug">Slug</label>
        <input
          type="text"
          placeholder="your-title-most-respect-this-format"
          class="form-input"
          id="slug"
          name="slug"
          [(ngModel)]="slug"
          #slugField="ngModel"
          [ngClass]="{ 'error-field': slugField.invalid && slugField.touched }"
          required
        />
        <p class="error" *ngIf="slugField.invalid && slugField.touched">the slug is required</p>
      </div>
      <div class="form-group">
        <label for="cover">Cover</label>
        <input type="file" class="form-input input-view" name="cover" id="cover">
      </div>
      <div class="form-group">
        <label for="body">Content</label>
        <textarea
          name="body"
          class="form-input"
          id="body"
          rows="10"
          [(ngModel)]="body"
          #bodyField="ngModel"
          [ngClass]="{ 'error-field': bodyField.invalid && bodyField.touched }"
          required
        ></textarea>
        <p class="error" *ngIf="bodyField.invalid && bodyField.touched">the content is required</p>
      </div>
      <div class="form-group">
        <label for="body">Status</label>
        <div class="form-radio">
          <div class="form-radio-group">
            <label for="published">Published</label>
            <input
              type="radio"
              name="status"
              id="published"
              value="published"
              [(ngModel)]="status" />
          </div>
          <div class="form-radio-group">
            <label for="draft">Draft</label>
            <input
              type="radio"
              name="status"
              id="draft"
              value="draft"
              [(ngModel)]="status" />
          </div>
        </div>
      </div>
      <button class="btn-login" type="submit" [disabled]="form.invalid">Create new Post</button>
      <div class="mt-1">
        <a routerLink="/panel">Go back</a>
      </div>
    </form>
  </div>
</main>
